@page "/kalkulacka"

<PageTitle>Kalkulačka</PageTitle>

<h1>Kalkulačka V1</h1>
<hr />
<label>Číslo 1: <input type="number" value="" /></label>
<br />
<label>Číslo 2: <input type="number" value="" /></label>

<div>
    <button style="width:130px">Součet (+) </button>
    <button style="width:130px">Rozdíl (-) </button>

    <button style="width:130px">Součin (×) </button>
    <button style="width:130px">Podíl (÷) </button>
</div>
<label>Výsledek: <input type="number" value="" /></label>




@code {

}
